form {
  margin: 3rem auto 0;
  width: 39rem;
  gap: 1rem;
}

.input-wrapper:focus-within {
  border-radius: 0.5rem;
  border: 2px solid var(--brand-primary);
  background: var(--surface-primary);
}

.input-wrapper {
  display: flex;
  border-radius: 0.5rem;
  border: 2px solid var(--surface-secondary);
  background: var(--surface-primary);
  padding: 1rem;

  flex: 1;
  align-items: center;
}

input {
  all: unset;
  box-sizing: border-box;
  width: 100%;

  color: var(--text-primary);
  font-size: 1rem;
}

input:valid {
  text-decoration-line: underline;
}

:not(input:valid) + i{
  display: none;
}

.input-wrapper i {
  font-size: 1.5rem;
}

form button {
  all: unset;
  border-radius: 0.5rem;
  background: var(--brand-primary);

  display: flex;
  min-width: 7rem;
  padding: 1.25rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 600;
  transition: transform 0.4s;
}

form button:hover {
  border-radius: 0.5rem;
  background: var(--brand-secondary);
  color: var(--brand-primary);
  font-weight: 700;
  transform: scale(1.1);
}